{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="TutorAssistant is a platform that aims to provide a convenient and efficient way to manage your students' profiles, schedules, and invoices." />
    <meta name="keywords" content="TutorAssistant, 私補, 私人補習, 上門補習, 補習, DSE, IELTS, IB, AP, IGCSE, AL, 補習導師, DSE私人補習, 網上補習, 補習, 補習班, hkdse, 補習社, hkdse 2022, hkdse 2023, hkdse 2024" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TutorAssistant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded py-3" aria-label="Thirteenth navbar example">
      <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Center Icon In Mobile -->
        <div class="d-flex d-lg-none">
          <a class="navbar-brand col-lg-3 ms-0 fs-3" href="{% url 'home' %}">TutorAssistant</a>
        </div>

        <div class="navbar-collapse d-lg-flex collapse" id="navbarsExample11">
          <a class="navbar-brand d-none d-lg-flex col-lg-3 fs-4 me-0" href="{% url 'home' %}">TutorAssistant</a>
          <ul class="navbar-nav col-lg-6 fs-5 justify-content-lg-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blogs</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
          </ul>
          <div class="d-none d-lg-flex col-lg-3 justify-content-lg-end">
            <button class="btn btn-primary">Join Now</button>
          </div>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock content %}
    <!-- Footer -->
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          Build by&nbsp;
          <a href="https://twitter.com/kawingt2" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"> <span class="mb-3 mb-md-0 text-body-secondary"> @kawingt2</span> </a>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-body-secondary" href="#"
              ><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg>
            </a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="#"
              ><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg>
            </a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="#"
              ><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg>
            </a>
          </li>
        </ul>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
