{% extends "base.html" %} {% load static %}

<!-- Content -->
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'img/hero-img.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">TutorAssistant</h1>
      <p class="lead">Are you a tutor looking for a convenient and efficient way to manage your students' profiles, schedules, and invoices? TutorAssistant is here to revolutionize your tutoring experience.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">About</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
